:root {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: white;

    --color-primary: #0e0e0e;
    --color-secondary: #292929;
    --color-third: #525252;

    --color-keycap-primary: #b000b2;
    --color-keycap-secondary: #93009c;
    --color-keycap-third: #6b0078;
    --color-keycap-fourth: #380356;
}

/* Override tag */
html,
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-primary);
}

h1 {
    font-size: 38px;
    font-weight: 600;
    margin: 2rem 0rem 2rem 0rem;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0rem 0rem 2rem 0rem;
}

input[type=text] {
    font-size: 20px;
    padding-left: 1rem;

    width: 100%;
    height: 3rem;
    width: auto;
    border: 0;
    border-bottom: 0.5px rgba(128, 128, 128, 0.2) solid;
    transition: all 0.2s ease-in-out;

    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

input[type=text]:focus {
    outline: 0;
    border-bottom: 1px rgb(45, 4, 141) solid;
    transition: all 0.2s ease-in-out;
}

input[type=text]::placeholder {
    font-size: 20px;
}

/* id  */
#nofication,
#container {
    position: absolute;
    width: 100%;
}

#nofication {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.9);
}

#nofication>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem 5rem;
    border-radius: 2rem;
    background-color: var(--color-secondary);
}

#nofication>div>p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;

    margin-bottom: 3rem;
}

#nofication>div>button {
    color: white;
    font-size: 20px;
    font-weight: 600;

    background-color: var(--color-keycap-secondary);
    border: 0px;
    border-radius: 2rem;
    padding: 1.5rem 2.5rem;
    margin-bottom: 1rem;

    cursor: pointer;
}

#nofication>div>button:hover {
    filter: brightness(0.9);
}

#nofication>div>button:active {
    filter: brightness(0.8);
}

#container,
#container>div,
#container>div>* {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#keyboard-container {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: column;
    width: 100%;
}

#keyboard-container>div {
    width: auto;
}

#keyboard-container>div>div {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: row;
}

#line-1>div,
#line-2>div,
#line-3>div {
    font-size: 25px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;

    background-color: var(--color-keycap-primary);
    margin: 0.3rem;
    border-radius: 50%;
    border-bottom: 3px var(--color-keycap-third) solid;

    cursor: pointer;
}

#line-1>div:hover,
#line-2>div:hover,
#line-3>div:hover {
    filter: brightness(0.9);
}

#line-1>div:active,
#line-2>div:active,
#line-3>div:active {
    padding-top: 0.25rem;
    height: 4.75rem;
    filter: brightness(0.8);
}

/* class */
.input {
    max-width: 50%;
    min-width: 500px;
    width: 100%;

    margin-bottom: 1rem;
}

.input>div {
    padding: 2rem;
    background-color: var(--color-secondary);
    width: 100%;
    border-radius: 1rem;
}

.input>div>div {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.score {
    margin-bottom: 2rem;
}


.score>div>div {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.active-key {
    padding-top: 0.25rem;
    height: 4.75rem !important;
    filter: brightness(0.8);
}

#score,
#error {
    margin: 0rem 1rem;
}

.hide {
    display: none !important;
}

.error {
    color: red !important;
}

.correct {
    color: lime !important;
}